& {
}

.layer-stack {
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.236067977499799),
      rgba(0, 0, 0, 0.618033988749855)
    ),
    url("/s/img/fairrentnyc-cover-04--black.jpg");
  @media (min-width: 576px) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.236067977499799),
        rgba(0, 0, 0, 1)
      ),
      url("/s/img/fairrentnyc-cover-04--black.jpg");
  }
  color: white;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%- (1 / $golden-ratio) * 100;
  // box-shadow: $box-shadow-2dp;
  position: relative;
  z-index: 1000;
  .lead {
    // letter-spacing: -0.35px;
    letter-spacing: -1px;
    height: 1.75rem;
    overflow: hidden;
    // margin-bottom: 2.7rem;

    @media (min-width: 576px) {
      /// letter-spacing: 0px;
      letter-spacing: -0.41px;
      text-align: left;
    }

    @media (min-width: 768px) {
      letter-spacing: 0px;
    }
  }
}
.action-buttons {
  position: absolute;
  font-size: $h5-font-size;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.scroll-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: $box-shadow-2dp;
}
a.black-text {
  color: black;
}
