# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
house-coalition.psd
public/s/img/logos/legalize-dance copy.psd
public/s/img/logos/let-nyc-dance-large.psd
public/s/img/logos/nowadays.psd
public/s/slideshow/-tiles
5166e79e06e1cbb1610acdf03a81b0fa.ico.zip
browserconfig.xml
public/5166e79e06e1cbb1610acdf03a81b0fa.ico/manifest.json
public/bb46f3c0a9404e63c8b15d7f98212070.ico.zip
public/bb46f3c0a9404e63c8b15d7f98212070.ico/manifest.json
public/s/---sheets.json
public/s/--photos.json
public/s/-photos.json
public/s/-sheets.json
