& {
  // background-color: #ccb9b0;
  // background-color: #ffece4;
  // background-color: #c5fdd7;
  padding-bottom: 0;
  margin-bottom: 0;
  background-image:
    linear-gradient(to bottom, #caffc0 0%, #ffde16 100%/$golden-ratio, #fba318);

}

.card {
  border: 0;
  box-shadow: $box-shadow-1dp;
}
  .card-header {
    background: none;
    border: 0;
  }

  label {
    text-transform: uppercase;
    color: white;
  }