& {
  // background-color: #ccb9b0;
  // background-color: #ffece4;
  background-color: #fee1d4;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card {
  border: 0;
  box-shadow: $box-shadow-1dp;
}
  .card-header {
    background: none;
    border: 0;
  }

  label {
    text-transform: uppercase;
    color: white;
  }