& {
  background-color: white;
  // padding-top: 1rem;
  padding-bottom: 1rem;
  // margin-top: 20px;
  margin-bottom: 1rem;
  position: relative;
  // z-index: -1;
  background-color: transparent;
}

.photo-feature {
  padding-top: 1rem * $golden-ratio;
  border-top: solid 1px map-get($oil-pastels, "white");
  margin-top: 1rem * $golden-ratio;
}

.photo {
  max-width: 640px;
  width: 100%;
  border-radius: 1rem / $golden-ratio;
}

.linkCopiedContainer {
  text-align: right;
  margin-right: 3rem;
  .linkCopied {
    position: absolute;
    margin-top: 0.25rem;
  }
}
