$totalHeight: 375px;
& {
  width: 100%;
  &>.container {
    padding-left: 0;
    padding-right: 0;
  }
}
  .slideshow {
    height: $totalHeight/$golden-ratio + ($totalHeight - $totalHeight/$golden-ratio)/2;
    background-image: url('/s/slideshow/dev/49200346443_950c4feb59_o.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% (100%-(1/$golden-ratio)*100)*(1/$golden-ratio);
    clip-path: polygon(0% 0%, 100% 0%, 100% 76.42%, 69% 76.42%, 50% 100%, 31% 76.42%, 0 76.42%);

    z-index: 1000;
    position: relative;
    filter: blur(0px);
    transition: filter ease-out 75ms;

    &:hover {
      transition: filter ease-in 150ms;
      filter: blur(2px);
    }

  }
  .map {
    height: ($totalHeight - $totalHeight/$golden-ratio)/2;
    overflow: visible;
  }
    .leaflet-container {
      @media (min-width: 576px) {
        border-radius: 0 0 0.25rem 0.25rem;
      }

      height: $totalHeight - $totalHeight/$golden-ratio;
      top: -1 * ($totalHeight - $totalHeight/$golden-ratio)/2;
      width: 100%;
      position: relative;
      z-index: -1;
      background-color: #4ea3ea;
      box-shadow: $box-shadow-1dp;
    }
    .leaflet-control-container {
      display: none;
    }